:root {
    --primary-color: #7c3aed; 
}

body {
    background-color: var(--primary-color);
}
.container {
    width: 50%;
    margin: auto;
    padding: 5rem;
    
}

h1 {
    text-align: center;
}

.angles {
    display: block;
    width: 70%;
    font-size: large;
    margin: 0.5rem auto;
    text-align: center;
    /* color: white; */
}

input {
    display: block;
    border: 2px solid white;
    border-radius: 0.5rem;
}

#is-triangle-btn {
    display: block;
    font-size: large;
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 30%;
    margin: 1rem auto;
    background-color: white;
}

